<div>
  <h2>{{ label }}</h2>
  <table mat-table [dataSource]="exampleItem">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>センサー</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>タイトル</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="overview">
      <th mat-header-cell *matHeaderCellDef>概要</th>
      <td mat-cell *matCellDef="let element">{{ element.overview }}</td>
    </ng-container>
    <ng-container matColumnDef="circuit">
      <th mat-header-cell *matHeaderCellDef class="circuit">回路図</th>
      <td mat-cell *matCellDef="let element">
        {{ element.circuit }}
        <a
          href="https://github.com/chirimen-oh/chirimen.org/tree/master/pizero/src/esm-examples/{{
            element.id
          }}#readme"
          target="_schematics"
        >
          <mat-icon matTooltip="{{ element.id }} 回路図表示">schema</mat-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="js">
      <th mat-header-cell *matHeaderCellDef>JS</th>
      <td mat-cell *matCellDef="let element">
        {{ element.js }}
        <mat-icon matTooltip="{{ element.id }} example Javascript Download">
          download
        </mat-icon>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef class="link">リンク</th>
      <td mat-cell *matCellDef="let element">
        {{ element.link }}
        <mat-icon matTooltip="{{ element.id }} 参考リンク">link</mat-icon>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<br />
