<!-- <mat-toolbar>
  <mat-toolbar-row> ここにパンくずを表示 </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar
  color="primary"
  style="height: 45px; font-size: 16px; font-weight: bold; color: #e6e8ea"
>
  <span
    ><a mat-button (click)="breadCrumbMain()" style="color: white"
      >Main</a
    ></span
  >

  <span *ngFor="let m of menuHeader; let indx = index" style="color: white">
    <a mat-button
      >{{ m.label }} <mat-icon fxFlex="10">{{ m.icon }}</mat-icon></a
    >
  </span>
</mat-toolbar>
