<div class="tool-bar">
  <button mat-menu-item (click)="eventWiFiSetting.emit()">
    <!-- TODO: wifi の接続状態でアイコンを変える -->
    <!-- <mat-icon>network_wifi</mat-icon> -->
    <mat-icon>signal_wifi_off</mat-icon>
    <span>wifi-setting</span>
  </button>
  <button mat-menu-item (click)="eventGetExample.emit()">
    <mat-icon>javascript</mat-icon>
    <span>Get Example</span>
  </button>
  <button mat-menu-item (click)="eventSetupChirimen.emit()">
    <mat-icon>settings</mat-icon>
    <span>Setup CHIRIMEN</span>
  </button>
  <button mat-menu-item (click)="eventI2CDetect.emit()">
    <mat-icon>lan</mat-icon>
    <span>I2C Detect</span>
  </button>
  <button mat-menu-item (click)="eventFileUpload.emit()">
    <mat-icon>upload</mat-icon>
    <span>File Upload</span>
  </button>
</div>
<mat-divider />
