<div class="tool-bar">
  <button mat-menu-item>
    <mat-icon>fiber_pin</mat-icon>
    <span>pin-assign</span>
  </button>
  <button mat-menu-item>
    <mat-icon>javascript</mat-icon>
    <span>Get Example</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Setup CHIRIMEN</span>
  </button>
  <button mat-menu-item>
    <mat-icon>lan</mat-icon>
    <span>I2C Detect</span>
  </button>
  <button mat-menu-item>
    <mat-icon>upload</mat-icon>
    <span>File Upload</span>
  </button>
</div>
