.wrapper {
  display: flex; /* フレックスボックスを有効にする */
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-top: 32px;
  justify-content: center; /* 縦方向で中央寄せ */
  align-items: center; /* 横方向で中央寄せ */
}

.button {
  flex-direction: row;
  gap: 1rem;
  height: auto;
  text-align: center;
  height: auto;
}

#frame {
  border: 1px solid black;
  text-align: center;
  height: 100%;
}
