h1 {
  font-size: 1.5em;
  color: #333;
  margin: 16px;
  text-align: center;
}

#terminal {
  height: 100%;
  width: 100%;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2カラムに分割 */
  grid-auto-rows: minmax(100px, auto);
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3; /* 2カラム分を占める */
}

.box2 {
  /* 各要素が1カラムずつを占める */
  grid-column: span 1;
}
