h1 {
  font-size: 1em;
  color: #333;
  text-align: center;
}

#terminal {
  height: 100%;
  width: 100%;
  background-color: black;
  /* box2 に収まるように修正 */
  flex-grow: 1;
  overflow: auto; /* 必要に応じてスクロール */
  min-height: 65vh; /* 画面全体の高さを指定して、中央に配置 */
}
