<p>editor-containers works!</p>

<div>
  <div>
    <!-- ファイルパスのパンくず？ -->
    <!-- ファイル名 -->
  </div>
  <div class="button-area">
    <!-- ボタン群 -->
    <app-button [label]="'load file'" (clickEvent)="loadFile()" />
    <app-button [label]="'save file'" (clickEvent)="save()" />
    <app-button [label]="'new file'" (clickEvent)="create()" />
    <app-button [label]="'delete fil'" (clickEvent)="delete()" />
    <app-button [label]="'rename file'" (clickEvent)="rename()" />
  </div>
  <div>
    <!-- エディター -->
    <ngx-monaco-editor
      class="my-code-editor"
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
  </div>
</div>
