h1 {
  font-size: 1em;
  color: #333;
  text-align: center;
}

.button-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.my-code-editor {
  .editor-container {
    height: calc(100vh - 100px);
  }
}
