div {
  display: flex; /* フレックスボックスを有効にする */
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-top: 32px;
  justify-content: center; /* 縦方向で中央寄せ */
  align-items: center; /* 横方向で中央寄せ */
}

img {
  max-width: 100%; /* 画像サイズが親要素を超えないようにする（必要に応じて） */
  height: auto; /* アスペクト比を維持する */
}

iframe {
  border: none;
  height: 800px;
  overflow: auto;
  width: 1200px;
}
