<div class="wrapper">
  <div>
    <h3>WiFi Scan Result</h3>
  </div>
  <div class="wifi-list">
    <div *ngFor="let wifiInfo of wifiInfoList">
      <app-wifi-info [wifiInfo]="wifiInfo" />
    </div>
  </div>
  <mat-divider />
  <div>
    <form action="">
      <label for="ssid">SSID:</label>
      <input type="text" id="ssid" name="ssid" />
      <label for="password">Password:</label>
      <input type="text" id="password" name="password" />
    </form>
  </div>
  <mat-divider />
  <div class="button-area">
    <app-button [label]="'Wifi Scan'" type="button" />
    <app-button [label]="'Wifi Info'" type="button" />
    <app-button [label]="'Reset Wifi'" type="button" />
    <app-button [label]="'Reboot'" type="button" />
    <app-button [label]="'閉じる'" type="button" (clickEvent)="closeModal()" />
  </div>
</div>
