:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポート全体の高さを確保 */
  overflow: hidden; /* 全体のスクロールを防ぐ */
}

.wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 58vh; /* 高さの上限を指定して、中央に収める */
  width: 90%; /* 必要に応じて横幅を調整 */
}

.wifi-list {
  max-height: 400px; /* WiFiリスト部分の高さを制限 */
  overflow-y: auto;
  width: 100%;
}

.button-area {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
