:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポート全体の高さを確保 */
  overflow: hidden; /* 全体のスクロールを防ぐ */
}

.wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 58vh; /* 高さの上限を指定して、中央に収める */
  width: 95%; /* 必要に応じて横幅を調整 */
}

.wifi-list {
  max-height: 400px; /* WiFiリスト部分の高さを制限 */
  overflow-y: auto;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-form-field {
  margin-right: 10px;
}

app-button {
  margin-right: 10px;
}

// app-button:last-child {
//   margin-right: 0;
// }

.button-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
