#terminal {
  height: 100%;
  width: 100%;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 1:3 の比率に設定 */
  grid-auto-rows: minmax(100px, auto);
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3; /* 2カラム分を占める */
}

.box2 {
  /* 各要素が1カラムずつを占める */
  grid-column: span 1;
  min-height: 800px;
}
