<app-header [connected$]="connected$" />
@if (connected$ | async; as connected) {
  <div class="wrapper">
    <div class="box1">
      <!-- パンくず -->
      <app-breadcomb />
    </div>
    <!-- ディレクトリツリー -->
    <div class="box2">
      <app-tree />
    </div>
    <mat-divider vertical />
    <div class="box2">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Console">
          <ng-template mat-tab-label>
            <mat-icon>terminal</mat-icon>Console
          </ng-template>
          <app-console />
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>description</mat-icon>Editor
          </ng-template>
          <app-editor />
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>fiber_pin</mat-icon>Pin Assign
          </ng-template>
          <app-pin-assign />
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
} @else {
  <div class="serial-connect">
    <h2>
      Raspberry Pi Zero と PC を USB で繋いだ後、Connect
      ボタンをクリックして、Web Serail を接続して下さい
    </h2>
    <img
      ngSrc="PiZeroW_OTG.jpg"
      width="680"
      height="270"
      priority
      alt="PiZeroW_OTG"
    />
    <app-button [label]="'Web Serial Connect'" (clickEvent)="onClick()" />
  </div>
}
